<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Файловое хранилище - {{title}}</title>
</head>
<body>
<h3>{{description}}</h3>
<h2>Добро пожаловать</h2>

</body>
</html>